<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd"  default-autowire="byName">

    <!-- 自动扫描 -->
    <context:component-scan base-package="cn.vko">  
      <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> -->   
 	</context:component-scan>
 	
	<import resource="applicationContext-framework.xml"/>
	<import resource="applicationContext-datasource.xml"/>
	<!-- dubbo -->
	<import resource="applicationContext-provider.xml"/>
	<import resource="applicationContext-consumer.xml"/>
	<import resource="applicationContext-sso.xml"/>
	
 	<!-- 引入spring的redis配置 -->
	<import resource="spring_redis.xml"/>
	
 	<!-- 主键生成 -->
    <bean id="primarykeyGenerator" class="cn.vko.common.utils.dbutils.SpringRedisTemplatePrimarykeyGenerator">  
        <property name="redisTemplate"  ref="jedisTemplate" />
    </bean> 
 	

</beans>