<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="${zookeeper.address}" check="false" file="dubbo.properties"> </dubbo:registry>
	<!-- 
	<dubbo:reference interface="cn.vko.studycenter.service.remote.ErrorBookServiceRemote" 
	  timeout="200000" url="${study.dubbo.url}" version="1.0" check="false" id="errorBookServiceRemote"></dubbo:reference>
 	-->
</beans> 
