<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- AUTH: zhangpengfei@vko.cn -->
<mapper namespace="com.weiwork.catering.mapper.IGoodsTagMapper">

<!-- 所有字段 -->
	<sql id="Base_Column_List">
	id  
	,goodsId 
	,tagId 
	,tagName 
	</sql>
	
<!-- 字段映射 -->
	<resultMap id="BaseResultMap" type="com.weiwork.catering.model.GoodsTag">
	     <id column="id" property="id" jdbcType="BIGINT" />
		<result column="goodsId" jdbcType="BIGINT" property="goodsId" />
		<result column="tagId" jdbcType="BIGINT" property="tagId" />
		<result column="tagName" jdbcType="VARCHAR" property="tagName" />
	</resultMap>

<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select  <include refid="Base_Column_List" />
		from goods_tag
		where id = #{id,jdbcType=BIGINT}
	</select>



<!-- 删除 -->	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_tag where id = #{id,jdbcType=BIGINT}
    </delete>
	
<!-- 批量删除  慎用
	<delete id="deleteByPrimaryKeyBatch" parameterType="array" >
     delete from goods_tag where id in 
		 <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
				#{item}   
		</foreach> 
    </delete>
-->		
<!-- 通用查询条件 只能用来查询，不要用于删改 -->
	<sql id="sql_of_where">
		WHERE 1=1 
		<if test="bParam != null" >
			<if test="bParam.id != null"> AND id = #{bParam.id,jdbcType=BIGINT} </if>
			<if test="bParam.goodsId != null"> AND goodsId = #{bParam.goodsId,jdbcType=BIGINT} </if>
			<if test="bParam.tagId != null"> AND tagId = #{bParam.tagId,jdbcType=BIGINT} </if>
			<if test="bParam.tagName != null"> AND tagName = #{bParam.tagName,jdbcType=VARCHAR} </if>
		</if>
	</sql>
	
<!-- 通用分页查询 -->
	<select id="queryByParamMap" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from goods_tag
		<include refid="sql_of_where" />
		<if test="pParam != null">
			<if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
			<if test="pParam.startIndex != null and pParam.pageSize != null" >
			  limit #{pParam.startIndex} , #{pParam.pageSize}
			</if>
		</if>
	</select>
	
<!-- 通用分页查询记录总数 -->
	<select id="countByParamMap" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(id) from goods_tag
		<include refid="sql_of_where" />
	</select>
	
<!-- 插入 -->
	<insert id="insert" parameterType="com.weiwork.catering.model.GoodsTag">
		insert into goods_tag 
		<trim prefix="(" suffix=")" suffixOverrides=",">
				id, 
			<if test="goodsId != null">
			    goodsId,
			</if>
			<if test="tagId != null">
			    tagId,
			</if>
			<if test="tagName != null">
			    tagName,
			</if> 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			     #{id,jdbcType=BIGINT}, 
			<if test="goodsId != null">
			    #{goodsId,jdbcType=BIGINT},
			</if>
			<if test="tagId != null">
			    #{tagId,jdbcType=BIGINT},
			</if>
			<if test="tagName != null">
			    #{tagName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
<!-- 批量插入 请根据业务修改默认值-->	
    <insert id="insertBatch"  parameterType="java.util.List">
		insert into goods_tag 
		( <include refid="Base_Column_List" /> ) 
		values
		<foreach collection="list" item="item" separator=",">
		(#{item.id,jdbcType=BIGINT}  
			<choose>  
				<when test="item.goodsId != null">,#{item.goodsId ,jdbcType=BIGINT}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.tagId != null">,#{item.tagId ,jdbcType=BIGINT}</when>
				<otherwise>,0</otherwise>
			</choose>
			<choose>  
				<when test="item.tagName != null">,#{item.tagName ,jdbcType=VARCHAR}</when>
				<otherwise>,''</otherwise>
			</choose> 
		)
		</foreach>
	</insert>

<!-- 更新 -->
	<update id="updateByPrimaryKey" parameterType="com.weiwork.catering.model.GoodsTag">
		update goods_tag
		<set>
			<if test="goodsId != null" >
             goodsId = #{goodsId,jdbcType=BIGINT},
            </if>
			<if test="tagId != null" >
             tagId = #{tagId,jdbcType=BIGINT},
            </if>
			<if test="tagName != null" >
             tagName = #{tagName,jdbcType=VARCHAR},
            </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
<!-- 批量更新 -->
	<update id="updateBatchByPrimaryKey"  parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update goods_tag 
                <set>
                  <if test="item.goodsId != null" >
                    goodsId = #{item.goodsId,jdbcType=BIGINT},
                  </if>
                  <if test="item.tagId != null" >
                    tagId = #{item.tagId,jdbcType=BIGINT},
                  </if>
                  <if test="item.tagName != null" >
                    tagName = #{item.tagName,jdbcType=VARCHAR},
                  </if>
                </set>
                where id = #{item.id,jdbcType=BIGINT}
         </foreach>
	</update>
</mapper>